.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

}


.grid-item{
    padding: 20px;
    border: 1px solid green;
  
}

.grid-item p{
    overflow-wrap: break-word;
    word-break: break-word;
}

.grid-item:hover{
      background-color: darkblue;
}

img{
    width: 144px;
    height: 144px;
}


/*popup */
.popup{
 position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    

   
}

.popup-content{
    background: white;

    width: 400px;
    padding: 25px;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    position: relative;
}


/* FORM */

.popup-content form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.popup-content input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}



.popup-content button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.popup-content button:hover{
    opacity: 0.8;
}
body {
    display: flex;
}


/* sidebar */
.layout{
    display: flex;
}

.sidebar{
    width: 220px;
    min-height: 100vh;
    padding: 20px;
    border: 1px solid green;
    transition: 0.3s;
    overflow: hidden;
}

.sidebar.closed{
    width: 60px;
    padding: 20px 10px;
}

.main-content{
    flex: 1;
    padding: 20px;
}

.sidebar ul{
    list-style: none;
    padding: 0;
    white-space: nowrap;
}

.sidebar li{
    margin-bottom: 10px;
}

.sidebar a{
    text-decoration: none;
    color: white;
    white-space: nowrap;
}

.toggle-btn{
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    margin-bottom: 20px;
}

/* topbar */
/* TOPBAR */
.topnav{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 20px;
    background-color: #222;

    margin-top: 20px;
    border-radius: 10px;
}

/* LEFT SIDE */
.topnav-left{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

/* RIGHT SIDE */
.topnav-right{
    margin-right: 20px;
}

/* SEARCH */
.searchbar{
    padding: 10px;
    width: 250px;

    border: none;
    border-radius: 5px;
    outline: none;
}

.dropdown{
    position: relative;
}

/* button */
.dropdown-btn{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* dropdown menu */
.dropdown-content{
    display: none;

    position: absolute;
    top: 100%;
    left: 0;

    margin-top: 2px;

    background-color: white;

    min-width: 180px;

    padding: 10px;

    border-radius: 5px;

    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);

    z-index: 999;
}

/* keeps menu open */
.dropdown:hover .dropdown-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* labels */
.dropdown-content label{
    display: flex;
    align-items: center;
    gap: 5px;

    cursor: pointer;
}